<form action="https://www.overleaf.com/docs" method="post" target="_blank">
<textarea rows="8" cols="60" name="snip">
\documentclass{article}
\usepackage[utf8]{inputenc}
\usepackage[top=1cm, bottom=4cm, left=2cm, right=2cm]{geometry}
\usepackage{natbib}
\usepackage{graphicx}
\usepackage{amsmath,amsthm,amsfonts,amssymb,amscd}
\usepackage{enumerate}
\usepackage{mathrsfs}

\title{ {{title}} }
\author{Talea Dehne}

\begin{document}
\maketitle 
\noindent
\begin{enumerate}
{% for ex in exercises %}
    \item Aufgabe
    {{ex.description}}
    {% if ex.subtasks|length > 0 %}
    \begin{enumerate}
        {% for sub_ex in ex.subtasks %}
            \item {{sub_ex}}
        {% endfor %}
    \end{enumerate}
    {% endif %}
{% endfor %}
\end{enumerate}
\end{document}
</textarea>
<input type="submit" value="Open in Overleaf">
</form>
